body{
   height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     background: linear-gradient(to right, #d8d8dd, #d8d8dd);
}

.container
{
      background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 1100px;
   border-radius: 20px;
   overflow: hidden;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
     gap: 0px;
}
input
{
    display: none;
}
.quiz-main
{
    height: auto;
   padding: 0 100px 0 100px;
   
   
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 25px;
   
}
.answer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d1d5db;
     border-radius: 8px;
     padding: 3px;
   width: 470px;
   height: 50px;
   box-sizing: border-box;
    
}
.answer .left
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.letter
{
     background: #f3f4f6;
  border-radius: 2px;
  padding: 12px 14px;
}
.check {
 width: 20px;
 height: 20px;
  display: flex;              /* center the mark */
  align-items: center;
  justify-content: center;
  background-color: #1504b2;  /* modern green */
  color: white;
  font-size: 14px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  opacity: 0;
  margin-right: 15px;
}

button
{
    background-color: #1504b2;
    color: #fff;
    font-size: 12px;
    padding: 11px 28px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
    
    
}
.quiz-main h1
{
    max-width: 470px;
    margin-bottom: 25px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.quiz-sidebar
{
    height: auto;
   padding: 0 70px 0 70px;
   margin-right: 10pX;
}

.question-list {
     background: white;
      border-radius: 10px;
       padding: 5px 20px 5px 20px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
       
}
ul
{
    list-style: none;
    padding: 0;
}
li
{
    margin-bottom: 5px;
    color: #6b7280;
    background-color: #ededed;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.answer:hover {
  border-color: #1504b2;
  cursor: pointer;
}
button:hover {
  background: #1a0fc4;
}
input:checked ~.check {
  opacity: 1; 
}
.answer:has(input:checked)
{
  border-color: #1504b2;
}
.question-list li.answered {
  background-color: #1504b2; 
  color: white;
  transition: 0.3s;
}
.question-list li.marked {
  background-color: #f59e0b; 
  color: #fff;
  transition: 0.3s;
}
.quiz-content {
  display: flex; 
}
.timer-container {
  width: 90%;
  margin: 10px auto 0;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e5e7eb; 
  border-radius: 10px;
  overflow: hidden;
}
.progress {
  width: 100%; 
  height: 100%;
  background-color: #1504b2; 
  transition: width 1s linear;
}
.time-left {
  font-weight: bold;
  color: #1504b2;
  font-size: 18px;
}