
body {
  height: 100vh;
  background: linear-gradient(to right, #d8d8dd, #d8d8dd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgb(255, 255, 255);
  width:650px;
  height: 500px;
  text-align: center;
  padding: 40px 20px;
  border-radius: 12px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}



h1 {
  color: black;
  font-size: 32px;
  /* margin-bottom: 10px; */
  margin-top: 5px;
}

p {
  color: red;
  font-weight: bold;
  margin-top: 30px;
}
 img{
  width: 300px;
 }
button {
  background: #0D47A1;
  color: white;
  border: none;
  padding: 10px 25px;
 margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
  

}

button:hover {
   background-color: rgba(13, 71, 161, 0.85);
}
