 body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(135deg, #fffdff, #c6e0f6);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      max-width: 900px;
      width: 100%;
      overflow: hidden;
     
    }

    .left {
      padding: 50px 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .left h1 {
      color: black;
      font-size: 2.2rem;
      margin-bottom: 25px;
    }

    .score-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

  
    .score-rect {
  width: 200px;
  height: 100px;
  background:#0D47A1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #0b0b0b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


    .info p {
      font-size: 1.6rem;
     color: black;
      margin: 10px 0;
    }

    button {
      margin-top: 25px;
      padding: 12px 45px;
      background: #0D47A1;
      color: #fff;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      
      
    }

    button:hover {
       background-color: rgba(13, 71, 161, 0.85);
     
    }

    .right {
      flex: 1;
      background: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  
