body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f3f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
      background: linear-gradient(135deg, #fffdff, #c6e0f6);

}


.card {
  display: flex;
  width: 850px;
  height: 450px;
         
 background-color: white;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #e0e0e0;

}


.left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 60px;

}

.score-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.score-rect {
  width: 180px;
  height: 90px;
  background-color: #0D47A1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}

#message {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

.info p {
  font-size: 1.2rem;
  color:#0D47A1;
  margin: 8px 0;
}

.info strong {
  color: #000000;

  margin-left: 80px;
}

button {
  margin-top: 25px;
  padding: 12px 40px;
  background: #0D47A1;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

button:hover {
 background-color: rgba(13, 71, 161, 0.85);
}


.right {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
